

body {
  background-color: rgb(175, 176, 159);
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  color: rgb(240, 28, 28);
  padding: 10px;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  background-color: #45678C;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
}

nav ul li a.active {
  background-color: #45678C;
}

.content {
  margin: 20px;
}

.title {
  color: #3E5B72;
  text-align: center;
  margin-top: 20px;
}

.table-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 5px;
  text-align: center;
  width: 49%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.fixed-image {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 200px;
}

.text {
  text-align: left;
  margin-left: 10px;
}

footer {
  background-color: #7a7f84;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
